<main id="main" class="main">
   <div class="pagetitle">
      <h1 [style.color]="'#0496FF'">Twitter</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Twitter</li>
         </ol>
      </nav>
   </div>
   <section class="section profile">
      <div class="row justify-content-center">
         <div class="col-xl-8">
            <div class="card">
               <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <img src="assets/img/messages-1.jpg" alt="Profile" class="rounded-circle">
                  <h2> Safa</h2>
                  <h3>Web Designer</h3>
                  <div class="icons">
                     <a href="#" class="icon icon--instagram">
                        <i class="ri-instagram-line material-icons"></i>
                     </a>
                     <a href="#" class="icon icon--twitter">
                        <i class="ri-twitter-line material-icons"></i>
                     </a>
                     <a href="#" class="icon icon--facebook">
                        <i class="ri-facebook-line material-icons"></i>
                     </a>
                     <a href="#" class="icon icon--linkedin">
                        <i class="ri-linkedin-line material-icons"></i>
                     </a>
                  </div>
                  <div class="col-lg-11">
                     <div class="card-body">
                        &nbsp;&nbsp;&nbsp;
                        <div class="input-group md-form form-sm form-2 pl-0">
                           <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
                           &nbsp;&nbsp;&nbsp;
                           <select class="form-select" aria-label="Default select example">
                              <option value="1">Twitter</option>
                              <option value="2">Facebook</option>
                              <option value="3">Instagram</option>
                              <option value="3">Linkedin</option>
                           </select>
                           &nbsp;&nbsp;&nbsp;
                           <div class="input-group-append">
                              <span class="input-group-text red lighten-3" id="basic-text1"><a href="../twitter-resultat"><i class=" bi-search text-red" aria-hidden="true"></i></a></span>
                           </div>
                           &nbsp;&nbsp;&nbsp;
                           
                        </div>&nbsp;&nbsp;&nbsp;
                           
                     </div>
                  </div>&nbsp;&nbsp;&nbsp;
               </div>
            </div>
         </div>
      </div>
   </section>
</main>